<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Interview Bot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="{{ url_for('static', filename='aurora_stars.jpg') }}" alt="Aurora.AI" class="logo">
    </div>
    <div class="body">
      <h1>Welcome to Aurora.ai!</h1>
      <p class="description">Aurora is your professional and personalized career companion that helps you with interview preparation and resume reviewing. Whether you're a job seeker looking to ace your next interview or an employer seeking to streamline the recruitment process, our application has you covered.</p>
    </div>
    <div class="btn-container">
      <a href="#" class="btn" onclick="takeDemo()">Take Demo</a>
      <a href="#" class="btn" onclick="reviewResume()">Resume Reviewer</a>
    </div>
    <div class="extra-content">
      <h2>Features:</h2>
      <ul>
        <h3>1. Interactive interviews</h3>
        <h3>2. Resume reviewing with detailed feedback</h3>
        <h3>3. Customizable interview questions</h3>
        <h3>4. Speech based question answering</h3>
      </ul>
    </div>
  </div>
  <script>
    function takeDemo() {
      // Redirect to the demo page
      window.location.href = "./demo";
    }

    function reviewResume() {
      // Redirect to the resume reviewer page
      //window.location.href = "resume_reviewer.html";
      window.location.href = "./resume"
    }

    // JavaScript effect to highlight the features list
    const featureList = document.querySelector('.extra-content ul');
    featureList.addEventListener('mouseover', function() {
      this.classList.add('highlight');
    });
    featureList.addEventListener('mouseout', function() {
      this.classList.remove('highlight');
    });
  </script>
</body>
</html>
